<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="screen" href="css/styles.css">
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap-css/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/particles.js/particles.min.js"></script>
    <script src="js/app.js"></script>
  </head>

    <div class="panel">
      <h1>Hello world</h1>
    </div>
    <div id="particles-js">
    </div>

</html>
